/* Write your CSS here */
.list-container {
  list-style-type: none;
}
.button {
  color: #d4d2db;
  background-color: #585076;
  padding: 10px 30px;
  margin: 10px;
  border: 1px #c4c4c4 solid;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
